body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background: hsl(238, 5%, 35%);
}

/*.wrapper {
  width: 800px;
  margin: 0 auto;
}

@media only screen and (max-width: 768px) {
  .wrapper {
    width: 100%;
  }
}*/
.wrapper {
  width: 100%;
}

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}