.meter {
  display: flex;
}

.segment {
  display: flex;
  flex-grow: 1;
  cursor: pointer;
  height: 50px;
  justify-content: center;
  color: #333;
  align-items: center;
  font-weight: bold;
  border: 5px solid transparent;
}

.segment:hover {
  border: 5px solid #000;
}

.segment.active {
  border: 5px solid #cdcdcd;
}