.dashboard {
  display:flex;
  flex-direction: column;
  align-items: center;
  // * + * {
  //   margin-top: 0;
  // }
}

.DateRangePicker * + * {
  margin-top: 0;
}

.pain-chart {
  width: 100%;
  background: #fff;
}