.datepicker {
  background: white;
  width: 300px;
  padding: 10px;
}

.dp-month {
  display: flex;
  justify-content: space-between;
  * + * {
    margin-top: 0;
  }
}

.dp-container {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  border: 1px solid transparent;

  // &:hover {
  //   border: 1px solid red;
  // }

  &.selected {
    border: 1px solid blue;
  }
}

.dp-empty {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  border: 1px solid transparent;
}

.dp-day {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
  width: 30px;
  height: 30px;
  transition: all linear 100ms;

  &:hover {
    box-shadow: 3px 3px 3px #888;
  }
}

.dp-calendar {
  font-size: .75em;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  &--item {
    text-align:center;
    width: calc(14%);
    height: calc(width)
  }
  * + * {
    margin-top: 0;
  }
}